<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <!--<link href="Content/bootstrap.css" rel="stylesheet" />-->
    <script src="Scripts/App.js"></script>
    <script src="Scripts/angular.js"></script>
</head>
<body>

    <h3>Add Employee</h3>

    <div class="container" ng-app="firstApp">





        <div ng-controller="EmployeeController">

            <label for="fullName">Name</label>
            <input type="text" id="Names" name="fullName1" placeholder="Name .." ng-model="name" size="20" /><br />


            <label for="fullName">Surname</label>
            <input type="text" id="Surname" name="fullName2" placeholder="Surname.." ng-model="surname" size="20" /><br />

            <label for="fullName">Title   :</label>
            <input type="text" id="Title" name="fullName" placeholder="Title.." ng-model="title" /><br />

            <label for="fullName">Gender</label>
            <input type="text" id="fullName" name="fullName" placeholder="Gender.." ng-model="gender" /><br />


            <label for="fullName">Contact</label>
            <input type="text" id="Contact" name="fullName" placeholder="Contact.." ng-model="contact" /><br />

            <label for="fullName">Address</label>
            <input type="text" id="Address" name="fullName" placeholder="Address.." ng-model="address" /><br />

            <input type="submit" value="Save" ng-click="save()" />
        </div>

        <!--https://www.c-sharpcorner.com/article/angularjs-crud-operations-with-web-api-part-one/-->
        <!--https://www.c-sharpcorner.com/article/crud-operations-using-angular-and-asp-net-web-services/-->


    </div>


</body>
</html>
