<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"  />
    <webServices>
    
      <protocols>

        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="ConnectionString1" connectionString="Data Source=X515\SQLEXPRESS;Initial Catalog=insuranceDB;;User ID=sa;Password=#44@Cloud9"
      providerName="System.Data.SqlClient" />
    <add name="Connection String" connectionString="data source=X516\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="xinixInsuranceDBConnectionString" connectionString="Data Source=X516\SQLEXPRESS;Initial Catalog=xinixInsuranceDB;Persist Security Info=True;User ID=sa;Password=#44@Cloud9"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StudentServiceSoap" />
        <binding name="TrainingServiceSoap" />
        <binding name="Login1Soap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="StudentServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="TrainingServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="Login1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:21847/StudentService.asmx"
        binding="basicHttpBinding" bindingConfiguration="StudentServiceSoap"
        contract="ServiceReference1.StudentServiceSoap" name="StudentServiceSoap" />
      <endpoint address="http://localhost:21847/StudentService.asmx"
        binding="customBinding" bindingConfiguration="StudentServiceSoap12"
        contract="ServiceReference1.StudentServiceSoap" name="StudentServiceSoap12" />
      <endpoint address="http://localhost:21847/TrainingService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TrainingServiceSoap"
        contract="ServiceReference2.TrainingServiceSoap" name="TrainingServiceSoap" />
      <endpoint address="http://localhost:21847/TrainingService.asmx"
        binding="customBinding" bindingConfiguration="TrainingServiceSoap12"
        contract="ServiceReference2.TrainingServiceSoap" name="TrainingServiceSoap12" />
      <endpoint address="http://localhost:21847/Login.asmx" binding="basicHttpBinding"
        bindingConfiguration="Login1Soap" contract="ServiceReference3.Login1Soap"
        name="Login1Soap" />
      <endpoint address="http://localhost:21847/Login.asmx" binding="customBinding"
        bindingConfiguration="Login1Soap12" contract="ServiceReference3.Login1Soap"
        name="Login1Soap12" />
    </client>
  </system.serviceModel>
</configuration>

